<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>

     <!--SimpleFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature" value="true"/>-->
    
    <!--EnabledOnOrAfterDateFeatureToggle/EnabledOnOrBeforeDateFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature" value="01-Aug-2016 00:00:00"/>-->
    
    <!--EnabledBetweenDatesFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature" value="01-Aug-2016 00:00:00 | 20-Aug-2016 00:00:00"/>-->
    
    <!--EnabledOnDaysOfWeekFeatureToggle-->
    <add key="FeatureToggle.ImportCustomerDataFeature" value="Monday, Tuesday"/>
    
    <!--SqlFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature.ConnectionString"
         value="Data Source=.\SQLEXPRESS;Initial Catalog=PluralsightFeatureToggle;Integrated Security=True;Pooling=False" />

    <add key="FeatureToggle.ImportCustomerDataFeature.SqlStatement"
         value="SELECT Value FROM Toggles WHERE ToggleName = 'ImportCustomerDataFeature'" />-->
  </appSettings>
</configuration>