<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>

     <!--SimpleFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature" value="true"/>-->
    
    <!--EnabledOnOrAfterDateFeatureToggle/EnabledOnOrBeforeDateFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature" value="01-Aug-2016 00:00:00"/>-->
    
    <!--EnabledBetweenDatesFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature" value="01-Aug-2016 00:00:00 | 20-Aug-2016 00:00:00"/>-->
    
    <!--EnabledOnDaysOfWeekFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature" value="Monday, Tuesday"/>-->
    
    <!--SqlFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature.ConnectionString"
         value="Data Source=(localdb)\ProjectsV13;Initial Catalog=DBProject;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add key="FeatureToggle.ImportCustomerDataFeature.SqlStatement"
         value="SELECT ToggleValue FROM Toggles WHERE ToggleName = 'ImportCustomerDataFeature'" />-->

    <!--HttpJsonFeatureToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature" value="http://localhost:58949/api/FeatureToggle" />-->

    <!--CustomSQLToggle-->
    <!--<add key="FeatureToggle.ImportCustomerDataFeature.ConnectionString"
         value="Data Source=(localdb)\ProjectsV13;Initial Catalog=DBProject;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add key="FeatureToggle.ImportCustomerDataFeature.Table"
         value="Toggles" />-->

</appSettings>
</configuration>